*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

.body{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Gilroy", "Arial", "sans-serif";
}

.orginal-btn{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #76A713;
    transition: 0.3s all ease;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}